<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 5rem;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Bioinformatics Tool</a>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1 class="display-4">Error Page</h1>
            <p class="lead text-danger">{{ error }}!</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Back to Home</a>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2023 Your Name</span>
        </div>
    </footer>

    <!-- Add Bootstrap and JQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
